@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --animate-items: item 2s linear 1;
    @keyframes item{
        0%{
            opacity: 0;
            translate: -50px 0;
        }
        100%{
            opacity: 1;
            translate: 0 0;
        }
    }
}
